<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To help you find users located near you!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Luminari.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1047699525382-qg9etkd9keuf8j99271la137hj1kah6p</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1047699525382-qg9etkd9keuf8j99271la137hj1kah6p.apps.googleusercontent.com</string>
</dict>
</plist>
